<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberHire" column="MEMBER_HIRE" />
		<result property="memberSt" column="MEMBER_ST" />
		<result property="memberLv" column="MEMBER_LV" />
		<result property="memberAddr" column="MEMBER_ADDR" />
		<result property="memberImg" column="MEMBER_IMAGE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberGrad" column="MEMBER_GRAD" />
		<result property="gradName" column="GRAD_NAME" />
	</resultMap>

	<select id="selectMemberNo" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER
	</select>

	<select id="login" parameterType="member" resultMap="member_rm">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="getMemberList" resultMap="member_rm">
		SELECT
		m.MEMBER_NO,
		m.MEMBER_ID,
		m.MEMBER_NAME,
		m.MEMBER_BIRTH,
		m2.CODE_NAME AS
		MEMBER_GENDER,
		m3.CODE_NAME AS MEMBER_LV,
		m.MEMBER_TEL,
		m.MEMBER_EMAIL ,
		m.MEMBER_ADDR,
		m1.CODE_NAME AS MEMBER_GRAD,
		m4.CODE_NAME AS MEMBER_ST,
		TO_CHAR(m.MEMBER_HIRE, 'YYYY-MM-DD') AS MEMBER_HIRE
		FROM MEMBER m
		LEFT
		JOIN MASTER_CODETBL m1 ON m.MEMBER_GRAD = m1.CODE_ID
		LEFT JOIN
		MASTER_CODETBL m2 ON m.MEMBER_GENDER = m2.CODE_ID
		LEFT JOIN
		MASTER_CODETBL m3 ON m.MEMBER_LV = m3.CODE_ID
		LEFT JOIN MASTER_CODETBL
		m4 ON m.MEMBER_ST = m4.CODE_ID
		LEFT JOIN GRADUATE gr ON gr.MEMBER_NO =
		m.MEMBER_NO
		ORDER BY m.MEMBER_NO ASC
	</select>

	<select id="memberIdDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND (MEMBER_ST = 'STAT01' OR MEMBER_ST = 'STAT02' OR MEMBER_ST =
		'STAT04')
	</select>

	<select id="telDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_TEL = #{memberTel}
		AND (MEMBER_ST = 'STAT01' OR MEMBER_ST = 'STAT02' OR MEMBER_ST =
		'STAT04')
	</select>

	<select id="emailDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL =
		#{memberEmail}
		AND (MEMBER_ST = 'STAT01' OR MEMBER_ST = 'STAT02' OR
		MEMBER_ST =
		'STAT04')
	</select>

	<insert id="signUp" parameterType="member">
		INSERT INTO MEMBER VALUES(
		MEMBER_SEQ.NEXTVAL,
		#{memberId},
		#{memberPw},
		#{memberName},
		#{memberGender},
		#{memberTel},
		#{memberBirth},
		#{memberHire},
		DEFAULT,
		#{memberLv},
		#{memberAddr},
		#{memberImg},
		#{memberEmail}
		)
	</insert>

	<select id="searchFormMemberList" resultMap="member_rm">
		SELECT
		m.MEMBER_NO,
		m.MEMBER_ID,
		m.MEMBER_NAME,
		m.MEMBER_BIRTH,
		m2.CODE_NAME AS
		MEMBER_GENDER,
		m3.CODE_NAME AS MEMBER_LV,
		m.MEMBER_TEL,
		m.MEMBER_EMAIL,
		m.MEMBER_ADDR,
		m1.CODE_NAME AS MEMBER_GRAD,
		m4.CODE_NAME
		AS MEMBER_ST,
		TO_CHAR(m.MEMBER_HIRE, 'YYYY-MM-DD') AS MEMBER_HIRE
		FROM
		MEMBER m
		LEFT
		JOIN MASTER_CODETBL m1 ON m.MEMBER_GRAD = m1.CODE_ID
		LEFT
		JOIN
		MASTER_CODETBL m2 ON m.MEMBER_GENDER = m2.CODE_ID
		LEFT JOIN
		MASTER_CODETBL m3 ON m.MEMBER_LV = m3.CODE_ID
		LEFT JOIN MASTER_CODETBL
		m4 ON m.MEMBER_ST = m4.CODE_ID
		LEFT JOIN GRADUATE gr ON gr.MEMBER_NO =
		m.MEMBER_NO
		<where>
			<if test="memberName == null or memberName.trim() == ''">
				<choose>
					<when test="codeNo == 1">
					</when>
					<when test="codeNo == 10">
						m.MEMBER_ST = #{codeId} ORDER BY m.MEMBER_NO ASC
					</when>
					<when test="codeNo == 11">
						m.MEMBER_GENDER = #{codeId} ORDER BY m.MEMBER_NO
						ASC
					</when>
					<when test="codeNo == 20">
						m.MEMBER_LV = #{codeId} ORDER BY m.MEMBER_NO ASC
					</when>
				</choose>
			</if>
			<if test="memberName != null and memberName.trim() != ''">
				(UPPER(m.MEMBER_NAME) LIKE '%' || UPPER(#{memberName}) ||
				'%') ORDER BY m.MEMBER_NO ASC
			</if>
		</where>
	</select>

	<select id="searchSelectList" resultMap="member_rm">
		SELECT
		m.MEMBER_NO,
		m.MEMBER_ID,
		m.MEMBER_NAME,
		m.MEMBER_BIRTH,
		m2.CODE_NAME AS MEMBER_GENDER,
		m3.CODE_NAME AS MEMBER_LV,
		m.MEMBER_TEL,
		m.MEMBER_EMAIL,
		m.MEMBER_ADDR,
		m1.CODE_NAME AS MEMBER_GRAD,
		m4.CODE_NAME
		AS MEMBER_ST,
		TO_CHAR(m.MEMBER_HIRE, 'YYYY-MM-DD') AS MEMBER_HIRE
		FROM
		MEMBER m
		LEFT JOIN MASTER_CODETBL m1 ON m.MEMBER_GRAD = m1.CODE_ID
		LEFT
		JOIN MASTER_CODETBL m2 ON m.MEMBER_GENDER = m2.CODE_ID
		LEFT JOIN
		MASTER_CODETBL m3 ON m.MEMBER_LV = m3.CODE_ID
		LEFT JOIN MASTER_CODETBL
		m4 ON m.MEMBER_ST = m4.CODE_ID
		LEFT JOIN GRADUATE gr ON gr.MEMBER_NO =
		m.MEMBER_NO
		WHERE 1=1
		<if test="memberSt != null and memberSt.trim() != ''">
			AND m.MEMBER_ST = #{memberSt}
		</if>
		<if test="memberGender != null and memberGender.trim() != ''">
			AND m.MEMBER_GENDER = #{memberGender}
		</if>
		<if test="memberLv != null and memberLv.trim() != ''">
			AND m.MEMBER_LV = #{memberLv}
		</if>
		<if test="memberName != null and memberName.trim() != ''">
			AND (UPPER(m.MEMBER_NAME) LIKE '%' || UPPER(#{memberName})
			|| '%')
		</if>
		<if test="startDate != null and startDate.trim() != ''">
			AND m.MEMBER_HIRE <![CDATA[ >= ]]>
			TO_DATE(#{startDate}, 'YYYY-MM-DD')
		</if>
		<if test="endDate != null and endDate.trim() != ''">
			AND m.MEMBER_HIRE <![CDATA[ <= ]]>
			TO_DATE(#{endDate}, 'YYYY-MM-DD')
		</if>
		ORDER BY m.MEMBER_NO ASC
	</select>

	<select id="getMemberInfo" resultMap="member_rm">
		SELECT
		m.MEMBER_NO,
		m.MEMBER_ID,
		m.MEMBER_NAME,
		m.MEMBER_BIRTH,
		m2.CODE_NAME AS
		MEMBER_GENDER,
		m3.CODE_NAME AS MEMBER_LV,
		m.MEMBER_TEL,
		m.MEMBER_EMAIL,
		m.MEMBER_ADDR,
		m1.CODE_NAME AS MEMBER_GRAD,
		m4.CODE_NAME
		AS MEMBER_ST,
		TO_CHAR(m.MEMBER_HIRE, 'YYYY-MM-DD') AS MEMBER_HIRE
		FROM
		MEMBER m
		LEFT
		JOIN MASTER_CODETBL m1 ON m.MEMBER_GRAD = m1.CODE_ID
		LEFT
		JOIN
		MASTER_CODETBL m2 ON m.MEMBER_GENDER = m2.CODE_ID
		LEFT JOIN
		MASTER_CODETBL m3 ON m.MEMBER_LV = m3.CODE_ID
		LEFT JOIN MASTER_CODETBL
		m4 ON m.MEMBER_ST = m4.CODE_ID
		LEFT JOIN GRADUATE gr ON gr.MEMBER_NO =
		m.MEMBER_NO
		WHERE m.MEMBER_NO = #{memberNo}
	</select>

	<select id="updateInfos">

		UPDATE MEMBER SET
		MEMBER_NO = #{memberNo}
		<if test="memberGender != null and memberGender.trim() != ''">
			,MEMBER_GENDER = #{memberGender}
		</if>
		<if test="memberTel != null and memberTel.trim() != ''">
			,MEMBER_TEL = #{memberTel}
		</if>
		<if test="memberEmail != null and memberEmail.trim() != ''">
			,MEMBER_EMAIL = #{memberEmail}
		</if>
		<if test="memberHire != null and memberHire.trim() != ''">
			,MEMBER_HIRE = #{memberHire}
		</if>
		<if test="memberAddr != null and memberAddr.trim() != ''">
			,MEMBER_ADDR = #{memberAddr}
		</if>
		<if test="memberLv != null and memberLv.trim() != ''">
			,MEMBER_LV = #{memberLv}
		</if>
		<if test="memberGrad != null and memberGrad.trim() != ''">
			,MEMBER_GRAD = #{memberGrad}
		</if>
		WHERE MEMBER_NO = #{memberNo}

	</select>




</mapper>
