<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberHire" column="MEMBER_HIRE" />
		<result property="memberSt" column="MEMBER_ST" />
		<result property="memberLv" column="MEMBER_LV" />
		<result property="codeDescription" column="CODE_DESCRIPTION" />
		<result property="memberAddr" column="MEMBER_ADDR" />
		<result property="memberImg" column="MEMBER_IMAGE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
	</resultMap>

	<select id="selectMemberNo" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER
	</select>

	<select id="login" parameterType="member" resultMap="member_rm">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="getMemberList" resultMap="member_rm">
		SELECT
		M.MEMBER_ID,
		M.MEMBER_NAME,
		M.MEMBER_GENDER,
		M.MEMBER_TEL,
		M.MEMBER_BIRTH,
		TO_CHAR(M.MEMBER_HIRE, 'YYYY-MM-DD') AS MEMBER_HIRE,
		M.MEMBER_ST,
		C.CODE_DESCRIPTION AS MEMBER_LV,
		M.MEMBER_ADDR,
		M.MEMBER_EMAIL
		FROM
		MEMBER M
		JOIN CODE_TABLE C ON M.MEMBER_LV = C.CODE_NO
	</select>

	<select id="memberIdDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_ST = 'N'
	</select>

	<select id="telDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_TEL = #{memberTel}
		AND MEMBER_ST = 'N'
	</select>

	<select id="emailDupCheck" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL =
		#{memberEmail}
		AND MEMBER_ST = 'N'
	</select>

	<insert id="signUp" parameterType="member">
		INSERT INTO MEMBER VALUES(
		MEMBER_SEQ.NEXTVAL,
		#{memberId},
		#{memberPw},
		#{memberName},
		#{memberGender},
		#{memberTel},
		#{memberBirth},
		#{memberHire},
		DEFAULT,
		#{memberLv},
		#{memberAddr},
		#{memberImg},
		#{memberEmail}

		)
	</insert>


</mapper>
