
.rightDiv{
    flex: 8.3;
    height:100%;
    display: flex;
    flex-direction: column;
}

.rightDiv > div:nth-child(1){
    width:100%;
    background-color: rgb(71,71,71);
    height:7%;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightDiv > div:nth-child(1)>p{
    font-size: 1.2rem;
    color:white;
    font-weight: bold;
    width:20%;
    padding: 10px;
    line-height: 42px;
}

.rightDiv > div:nth-child(1) > div{
    width:10%;
    background-color: rgb(91,91,91);
    border-radius: 10px;
    color:white;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.rightDiv > div:nth-child(1) > div:hover{
    background-color: rgb(21,21,21);   
}


.rightDiv > div:nth-child(2) {
    width:100%;
    height:93%;
    background-color: rgb(71,71,71);
    padding:5px;
    display: flex;
}

.content-wrap{
    flex:1;
    background-color: white;
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;
}

.content-wrap > div:nth-child(1){
    width:100%;
    padding:0px 15px 15px 15px;
    color:rgb(21,21,21);
    border-bottom: 3px solid rgb(21,21,21);
    display: flex;
    justify-content: space-between;
}


.content-wrap > div > p{
    font-weight: bold;    font-size: 1.5rem;
}

.content-wrap > form {
    width:100%;
    height:100%;
    padding:15px;
    display: flex;
    justify-content: center;
}

.memberRegWrap {
    width:100%;
    border:2px solid rgb(21,21,21);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.memberRegWrap > div:nth-child(1){
    width:50%;
    padding:20px 20px 0 20px;
    padding-left: 50px;
    height:88%;
    display: flex;
    flex-direction: column;
}

.memberRegWrap > div:nth-child(2){
    width:50%;
    height:88%;
    display: flex;
    padding:20px 50px 20px 20px;
    flex-direction: column;
}

.memberRegWrap > div:nth-child(3){
    width:80%;
    height:50px;    margin:0 auto;
    display: flex;
    justify-content: center;
}


.birthpace{
    padding:0 10px;
}

.memberRegWrap > div > div{
    display: flex;
    padding:5px;
}


.memberRegWrap > div > div >p{
    width : 30%;
    line-height: 28px;
}

.memberRegWrap > div > div input{
    padding-left:10px;
}

.input-addr-wrap input{
    height: 30px;
    margin:5px 0;
    width:200px;
}

#idDubCheck{
    margin-left:10px;
    outline: none;
    border:none;
    border-radius: 5px;
    padding:0 10px;
    color:white;
    background-color:#5b5b5b;
    cursor: pointer;
}

#idDubCheck:hover{
    background-color: rgb(21,21,21);
    color:white;
}

#insertInfo{
    width:90%;
    margin-bottom: 20px;
    border-radius: 10px;
    border:none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #5b5b5b;
    font-size: 1.2rem;
    font-weight: 500;
    height:50px;
}

#insertInfo:hover{
    background-color: rgb(21,21,21);
    color:white;
}

.post-search-btn{
    width:73px;
    height:28px;
    border:none;
    outline: none;
    border-radius: 5px;
    color:white;
    background-color:#5b5b5b;
    cursor: pointer;
}

.post-search-btn:hover{
    background-color: rgb(21,21,21);
}

.email-at{
    margin:0 5px;
}

#select-mail{
    margin-left: 10px;
}


.photo-image-wrap{
    border-radius: 10px;
   width:90%;
   height:70%;
    border:1px solid black;
}

#pwMessage {
   padding-left: 10px; 
}

.align_File{
    margin-top: 15px;
    padding-left:60px;
}
.upimgList{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}
.upimgList > img {
    width:100%;
    height:90%;
}

#memberMessage{
    padding-left:10px;
}

.error{
    color:red;
}

.confirm{
    color:green;
}

#nameMessage{
    padding-left:10px;
}

#telMessage{
    padding-left: 10px;
}